---
layout: fullwidth
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  {% include hero.html title="Handmade Plus-Size Clothing" body="Our mission is to create one-of-a-kind plus-size clothing that is fun, fashionable, and priced fairly." image="/assets/img/272989475_314117237355945_7286284468757032085_n.jpg" overlay="rgba(0,0,0,0.5)" button1="Shop on Etsy" button1_link="https://www.etsy.com/shop/LackingApolloVA" %}

  <div class="wrapper">
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
</div>
